.button {
    display: inline-block;
    margin: 0;
    padding: 0.2em 1em;
    outline: 0;
    color: #000;
    font-family: inherit;
    font-size: 100%;
    line-height: 100%;
    text-align: center;
    transition: background .25s ease-in-out;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.button:hover {
    background: #fc0;
}
